.game-window {
    border: 1px black solid;
}

.game-window.dashed {
    border: 1px black dashed;
}

.centered {
    display: grid;
    place-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}


.space-around {
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.game-options {
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
}

.game-options.hidden {
    display: none;
}

.game-options div h3 {
    text-decoration: underline;
}

.game-options div {
    padding: 5px 0;
}

.option {
    margin-left: 5px;
}

.play-button {
    height: 25px;
}

.github-footer {
    text-align:center;
    bottom: 5px; 
    position:absolute;
}