.game-window {
    border: 1px solid black;
}

.centered {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}

.github-footer {
    text-align:center;
    bottom: 5px; 
    position:absolute;
}